@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@300;400;700&display=swap");
html, body {
  overflow-x: hidden;
}

body {
  background: #e6e6e6;
  height: 100vh;
  margin: 0;
  font-family: "Battambang", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

nav {
  background: rgba(230, 230, 230, 0.721);
  -webkit-box-shadow: 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.nav-header .logo {
  color: #a0067e;
  font-weight: bold;
  font-size: large;
}

.nav-toggle {
  font-size: 1.5rem;
  color: rgba(175, 96, 168, 0.58);
  background: transparent;
  border-color: transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: #2a53bc;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.logo {
  height: 40px;
}

.links a {
  color: #324d67;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.links a:hover {
  background: #bd7baf;
  color: black;
  padding-left: 1.5rem;
}

.social-icons {
  display: none;
}

.links {
  height: 0;
  overflow: hidden;
  -webkit-transition: vall 0.3s linear;
  transition: vall 0.3s linear;
}

.show-links {
  height: 10rem;
}

.hero {
  background-color: rgba(175, 96, 168, 0.58);
  color: #18116a;
  display: -ms-grid;
  display: grid;
  text-align: left;
  padding: 8em;
  margin-left: -8em;
  width: 100%;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 400px;
  font-weight: bold;
  color: #2a53bc;
}

.meet span {
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 6em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.about-me {
  position: relative;
}

.about-me::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(157, 177, 230, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}

.shawdow-circle {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(218, 62, 137, 0.14);
  top: 170px;
  left: 100px;
  z-index: -1;
}

.subtitle {
  font-weight: bold;
  color: #7b17df;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}

.about-me-desc {
  color: #000000;
  margin-bottom: 3em;
  font-size: 0.95em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background-color: rgba(86, 223, 199, 0.4);
  width: auto;
}

.skills-container ul li {
  background: #9db1e6;
  padding: 2em;
  border-radius: 35px;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 50px;
}

.skills-container ul li .icon-container.two {
  width: 50px;
}

.skills-container ul li .icon-container.three {
  width: 70px;
}

.skills-title {
  font-weight: bold;
}

.skill-description {
  margin-bottom: 2em;
}

.portfolio {
  background: #e6e6e6;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 0em;
}

.resume {
  background: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  letter-spacing: 0.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume a {
  margin-left: 1em;
}

.footer {
  background: rgba(175, 96, 167, 0.58);
}

.content {
  line-height: 2em;
}

.content ul {
  line-height: 3em;
  margin-top: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .footer-header {
  letter-spacing: 0.2em;
}

.email {
  font-size: 1.5em;
  line-height: 1em;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-icons a {
    margin: 0 1.5rem;
    color: #a0067e;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .social-icons a:hover {
    color: #e261c6c4;
  }
  .hero {
    text-align: center;
  }
  .about-me,
  .portfolio {
    text-align: left;
  }
  .about-me,
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left,
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .hero h1 {
    display: table-caption;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: rgba(179, 86, 170, 0.58);
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
    padding: 2em 4em 2em 0;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header img {
    width: 20px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: rgba(175, 96, 167, 0.58);
    padding: 6em 8em 6em 4em;
    text-align: left;
    margin-left: 4em;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
    margin-left: -6em;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
/*# sourceMappingURL=main.css.map */